body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(img1.jpg);
    background-size: cover;
    backface-visibility: visible;
}

header {
    background-color: #2980b9;
    color: white;
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #3498db;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.search-container {
    background-color: rgba(233, 206, 206, 0.096);
    padding: 20px;
    padding-left: 10px;
    padding-right: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
   
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #217dbb;
}

.features {
    text-align: center;
    margin: 30px auto;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 10px 0;
}