body {
    font-family: Arial, sans-serif;
    background-image: url(log.avif);
    background-size: cover;
    backface-visibility: visible;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.form-container {
    margin: 20px 0;
}

.form {
    margin-bottom: 20px;
}

.form h2 {
    text-align: center;
    color: #2980b9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #217dbb;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #2980b9;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}